/.local/share/fonts/
/.local/share/sddm/
/.local/share/user-places.xbel
/.local/share/user-places.xbel.bak
/.local/share/user-places.xbel.tbcache
/.local/share/zoxide/
/.local/share/*.xbel
/doom/.config/doom/config.el
