
@import './style.css';

#custom-notification,
#custom-weather {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}


#custom-appmenuicon {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 15px 3px 14px;
    opacity:0.8;
    border:3px solid @bordercolor;
}
